@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald-Bold.eot');
  src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Bold.woff2') format('woff2'),
    url('../fonts/Oswald-Bold.woff') format('woff'),
    url('../fonts/Oswald-Bold.ttf')  format('truetype'),
    url('../fonts/Oswald-Bold.svg#FontName') format('svg');
}

@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
    url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
    url('../fonts/TitilliumWeb-SemiBold.ttf')  format('truetype'),
    url('../fonts/TitilliumWeb-SemiBold.svg#FontName') format('svg');
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TitilliumWeb-Bold.woff2') format('woff2'),
    url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
    url('../fonts/TitilliumWeb-Bold.ttf')  format('truetype'),
    url('../fonts/TitilliumWeb-Bold.svg#FontName') format('svg');
}

:root {
  --color-bg: #111316;
  --color-textWhite: #f1f1f1;
  --color-textBlack: #000000;
  --color-primary: #216DFF;
  --color-secondary: #8D1422;
  --color-evidence: #FF8B64;
  --color-bgInfos: #131C26;
  --color-aVenir: #AFAFAF;
  --color-form_Nav: #1E2023;
  --color-actif: #5E8BFF;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-bg);
}
