@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald-Bold.eot');
  src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Bold.woff2') format('woff2'),
    url('../fonts/Oswald-Bold.woff') format('woff'),
    url('../fonts/Oswald-Bold.ttf') format('truetype'),
    url('../fonts/Oswald-Bold.svg#FontName') format('svg');
}

@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
    url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
    url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype'),
    url('../fonts/TitilliumWeb-SemiBold.svg#FontName') format('svg');
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TitilliumWeb-Bold.woff2') format('woff2'),
    url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
    url('../fonts/TitilliumWeb-Bold.ttf') format('truetype'),
    url('../fonts/TitilliumWeb-Bold.svg#FontName') format('svg');
}

:root {
  --color-bg: #111316;
  --color-textWhite: #f1f1f1;
  --color-textBlack: #000000;
  --color-primary: #216DFF;
  --color-secondary: #8D1422;
  --color-evidence: #FF8B64;
  --color-bgInfos: #131C26;
  --color-aVenir: #AFAFAF;
  --color-form_Nav: #1E2023;
  --color-actif: #5E8BFF;
  --color-nonActif: #666666;
}

html,
body {
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-bg);
}

html {
  margin: 0;
}

body {
  margin: 90px 20px 20px;
}

h1,
h2,
h3,
h4,
p,
label,
li {
  color: var(--color-textWhite);
  max-width: 700px;
}

h1,
h2,
h3,
.h3 {
  font-family: 'Oswald-Bold';
}

h4,
p,
.legend,
label,
input,
button,
select,
.inputKm::after,
textarea,
li {
  font-family: 'TitilliumWeb-SemiBold';
}

strong,
b {
  font-family: 'TitilliumWeb-Bold';
}

h1 {
  font-size: clamp(3.563rem, 0.432vw + 3.481rem, 4rem);
  margin: 0 0 46px;
}

h2 {
  font-size: clamp(2.5rem, 0.309vw + 2.442rem, 2.813rem);
  margin: 64px 0 32px;
}

h3 {
  font-size: clamp(1.75rem, 0.185vw + 1.715rem, 1.938rem);
  margin: 44px 0 22px;
}

h4,
label {
  font-size: clamp(1.188rem, 0.185vw + 1.153rem, 1.375rem);
  margin: 16px 0;
}

p,
button,
textarea {
  font-size: clamp(1rem, 0.123vw + 0.977rem, 1.125rem);
  margin: 13px 0;
}

.legend {
  font-size: clamp(0.813rem, 0.123vw + 0.789rem, 0.938rem);
  margin: 11px 0;
}

button {
  background-color: var(--color-primary);
  color: var(--color-textWhite);
  padding: 13px;
  border-radius: 5px;
  border: var(--color-primary) 2px solid;
  margin-top: 26px;
  cursor: pointer;
  transition: all .3s;
}

button:hover {
  background-color: var(--color-actif);
}

input,
select {
  font-size: clamp(1rem, 0.123vw + 0.977rem, 1.125rem);
  cursor: pointer;
}

.sectionButton {
  margin-top: 40px;
}

.buttonAjouter {
  margin-bottom: 0;
  height: fit-content;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style-type: none;
}

span {
  margin: 13px 0;
  display: block
}

.btnRetour {
  margin: 0 0 13px;
}

/* NAV */
nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 20px;
  background-color: var(--color-form_Nav);
}

nav.actif .menu__allLinks {
  transform: translate(-20px);
}

.menu__allLinks {
  background-color: var(--color-form_Nav);
  height: calc(100vh - 90px);
  width: calc(100vw - 40px);
  transform: translate(100vw);
  padding: 20px;
  position: relative;
  transition: all .3s;
}

.menu__element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}

.navBar__alwaysDisplay {
  display: flex;
  justify-content: space-between;
}

.menu__logo {
  height: 30px;
}

#menu__btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

#menu__btn:hover {
  color: var(--color-actif);
}

.menu__img,
.img__profil {
  height: 29px;
}

.menu__img {
  filter: brightness(1000%);
}

.menu__account {
  position: absolute;
  bottom: 20px;
}

.menu__element:hover .menu__title,
.menu__element:hover .menu__user {
  color: var(--color-actif);
}

.menu__element:hover .menu__img {
  filter: brightness(100%);
}

.menu__element.actif .menu__title,
.menu__element.actif .menu__user {
  color: var(--color-actif);
}

.menu__element.actif .menu__img {
  filter: brightness(100%);
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
}

.form__elements {
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 13px;
  background-color: var(--color-form_Nav);
  color: var(--color-textWhite);
  border: transparent 2px solid;
  border-radius: 5px;
}

.inputKm {
  position: relative;
  width: 100%;
}

.inputKm input {
  padding-right: 45px;
}

.inputKm::after {
  content: "km";
  position: absolute;
  right: 12px;
  top: 75%;
  transform: translateY(-50%);
  color: #ccc;
  font-size: 14px;
  pointer-events: none;
  /* l'utilisateur ne peut pas cliquer dessus */
}

.inputAnnee {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.button__creer {
  background-color: var(--color-bg);
  border: var(--color-primary) 2px solid;
}

.compteInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userName {
  margin-top: 22px;
  height: 45px;
}

.creerCompte {
  display: flex;
  flex-direction: column;
}

.image__profil {
  position: relative;
  width: 113px;
  height: 113px;
  border-radius: 64px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageProfil {
  width: 100%;
  z-index: 2;
  position: relative;
}

.imageProfilCompte {
  width: 100%;
  z-index: 1;
  position: relative;
}

.bgImage {
  position: absolute;
  inset: 0;
  background-color: var(--color-form_Nav);
  opacity: 1;
  transition: 0.3s;
  z-index: 1;
}

.bgImageCompte {
  position: absolute;
  inset: 0;
  background-color: var(--color-form_Nav);
  opacity: 0;
  transition: 0.3s;
  z-index: 2;
}

#modifierImage {
  position: absolute;
  width: 40px;
  z-index: 3;
  opacity: 0;
  transition: 0.3s;
}

.image__profil:hover #modifierImage,
.image__profil:hover .bgImageCompte {
  opacity: 1;
}

.image__profil.no-image #modifierImage,
.image__profil.no-image .bgImageCompte {
  opacity: 1;
}

.changerInfosContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.changerInfos {
  width: 25px;
  height: 25px;
  filter: brightness(1000%);
}

.bgCrayon {
  width: 46px;
  height: 46px;
  background-color: var(--color-primary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.changerInfosContainer #nom,
.changerInfosContainer #prenom,
.changerInfosContainer #email,
.changerInfosContainer #mdp {
  width: 100%;
}

.SupprimerCompte,
.SupprimerVoiture {
  background-color: var(--color-secondary);
  border: var(--color-secondary) 2px solid;
}

.SupprimerCompte:hover,
.SupprimerVoiture:hover {
  background-color: var(--color-secondary);
  border: var(--color-secondary) 2px solid;
  opacity: .5;
}

/* Mes voitures */
#mesVoitures__Container,
.mesVoituresAjouter__Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.voiture {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: #FFFFFF 2px solid;
  padding: 20px 20px 7px;
}

.logoMarque {
  height: 132px;
  align-self: center;
}

#survenance input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

#survenance {
  position: relative;
}

#survenance::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("/projets/tfe-aout/calendar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.boutonsVoiture {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.fullWidth {
  width: 100%;
}

/* Problemes */
.headerProblemes,
.headerProblemes__boutons {
  display: flex;
  flex-direction: column;
}

.headerProblemes__btn {
  height: fit-content;
}

.problemes--flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#description {
  height: 128px;
  resize: none;
  padding: 13px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--color-form_Nav);
  border: none;
  color: var(--color-textWhite);
}

#listeProblemes {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.probleme__Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-form_Nav);
  border: 2px solid #FFF;
  border-radius: 5px;
  padding: 0 20px 20px;
}

.probleme__title {
  margin-top: 20px;
}

.calendarIcone {
  height: 22px;
}

.problemeEtat__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.dateProbleme__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.selectEtat {
  width: 110px;
}

.btnSupprimer {
  width: 19px;
  height: 25px;
  cursor: pointer;
  transition: all .3s;
}

.btnSupprimer:hover {
  opacity: .5;
}

/* Recherche */
.recherche__result {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 7px;
}

.recherche__lien {
  color: var(--color-textWhite);
  text-decoration: none;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.recherche__lien:hover {
  color: var(--color-actif);
}

.recherche__container {
  position: relative;
}

.recherche__container::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 27px;
  height: 27px;
  background-image: url("/projets/tfe-aout/rechercheIcone.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  filter: brightness(1000%);
}

#recherche__input {
  width: calc(100% - 30px);
}

/* Accueil */
.choix__types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}

.choix__option {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 10px 0;
  border: var(--color-text-btn) 2px solid;
  border-radius: 10px;
  text-decoration: none;
  margin: 0;
  transition: all .3s ease-in-out;
}

.choix__option:hover {
  background-color: var(--color-actif);
}

.choix__optionImg {
  width: auto;
}

.choix__option h4 {
  color: var(--color-textBlack);
}

.non__actif {
  pointer-events: none;
  position: relative;
}

.non__actif h4 {
  color: var(--color-nonActif);
}

.non__actif h3 {
  color: var(--color-aVenir);
  position: absolute;
  transform: rotate(34deg);
  margin: 22px 0;
}

.non__actif img {
  filter: saturate(0);
}

/* Page parties */
.modeleInteractif {
  width: 100%;
}

.btnsModel {
  position: relative;
  width: fit-content;
  margin: 0;
  padding-top: 0;
  display: flex !important;
  flex-direction: column;
  gap: 5px;
}

.boutonInfoA,
.boutonInfoB,
.boutonInfoC,
.boutonInfoD,
.boutonInfoE,
.boutonInfoF,
.boutonInfoG {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-textWhite);
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  border: none;
  gap: 15px;
  text-decoration: none;
}

.boutonInfo__txt {
  white-space: nowrap;
  color: var(--color-textBlack);
}

.boutonInfo__svg {
  display: none;
}

.boutonInfoA:hover .boutonInfo__svg,
.boutonInfoB:hover .boutonInfo__svg,
.boutonInfoC:hover .boutonInfo__svg,
.boutonInfoD:hover .boutonInfo__svg,
.boutonInfoE:hover .boutonInfo__svg,
.boutonInfoF:hover .boutonInfo__svg,
.boutonInfoG:hover .boutonInfo__svg {
  transform: rotate(0deg);
}

@media (min-width: 701px) {
  body {
    margin: 60px 60px 60px 131px;
  }

  .div--flex {
    display: flex;
    justify-content: center;
  }

  form {
    width: 623px;
  }

  .sectionButton {
    margin-top: 60px;
  }

  .buttonAjouter {
    align-self: end;
  }

  .h3 {
    font-size: clamp(1.75rem, 0.185vw + 1.715rem, 1.938rem);
    margin: 22px 0;
  }

  /* NAV */
  nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 31px;
    height: calc(100vh - 99px);
    background-color: var(--color-form_Nav);
    transition: all .3s;
    padding: 20px;
  }

  .menu__user {
    margin: 0;
  }

  nav:hover {
    width: 170px;
  }

  #menu__btn {
    display: none;
  }

  .menu__logo {
    width: 100%;
    height: auto;
  }

  .menu__allLinks {
    transform: translate(-20px);
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }

  .menu__links {
    margin-top: 86px;
    transition: all .3s;
  }

  .menu__element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    text-decoration: none;
    width: fit-content;
  }

  .menu__img {
    width: 29px;
    height: 29px;
  }

  .menu__title,
  .menu__user {
    opacity: 0;
    transition: all .3s;
    white-space: nowrap;
  }

  nav:hover .menu__title,
  nav:hover .menu__user {
    opacity: 1;
  }

  nav:hover .menu__links {
    margin-top: 32px;
  }

  .img__profil {
    width: 29px;
    height: 29px;
    border-radius: 100%;
  }

  .menu__account {
    padding-bottom: 20px;
  }

  /* FORM */
  .NomPrenom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .NomPrenomForm {
    width: 48%;
  }

  /* Mes voitures */
  #formAjouterVoiture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 40px;
    width: 100%;
    max-width: 1060px;
  }

  #mesVoitures__Container,
  .mesVoituresAjouter__Container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .voiture {
    width: 256px;
  }

  .inputAnnee {
    flex-direction: row;
  }

  #annee,
  #mois {
    width: 100%;
  }

  /* Recherche */
  .recherche__lien {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  /* Accueil */
  .choix__option {
    width: 75%;
    max-width: 198px;
  }

  /* Page parties */
  .btnsModel {
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }

  .boutonInfoA,
  .boutonInfoB,
  .boutonInfoC,
  .boutonInfoD,
  .boutonInfoE,
  .boutonInfoF,
  .boutonInfoG {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    width: 43px;
    background-color: var(--color-textWhite);
    border-radius: 35px;
    padding: 0 0 0 27px;
    cursor: pointer;
    border: none;
    gap: 15px;
    transition: width 0.3s ease;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    text-decoration: none;
  }

  .boutonInfoA {
    top: 46%;
    left: 22%;
  }

  .boutonInfoB {
    top: 75%;
    left: 41%;
  }

  .boutonInfoC {
    top: 52%;
    left: 60%;
  }

  .boutonInfoD {
    top: 71%;
    left: 62%;
  }

  .boutonInfoE {
    top: 68%;
    left: 83%;
  }

  .boutonInfoF {
    top: 52%;
    left: 85%;
  }

  .boutonInfoG {
    top: 32%;
    left: 45%;
  }

  .boutonInfoA:hover {
    width: 152px;
  }

  .boutonInfoB:hover {
    width: 146px;
  }

  .boutonInfoC:hover {
    width: 162px;
  }

  .boutonInfoD:hover {
    width: 150px;
  }

  .boutonInfoE:hover {
    width: 145px;
  }

  .boutonInfoF:hover {
    width: 186px;
  }

  .boutonInfoG:hover {
    width: 260px;
  }

  .boutonInfo__txt {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    white-space: nowrap;
  }

  .boutonInfoA:hover .boutonInfo__txt,
  .boutonInfoB:hover .boutonInfo__txt,
  .boutonInfoC:hover .boutonInfo__txt,
  .boutonInfoD:hover .boutonInfo__txt,
  .boutonInfoE:hover .boutonInfo__txt,
  .boutonInfoF:hover .boutonInfo__txt,
  .boutonInfoG:hover .boutonInfo__txt {
    opacity: 1;
    visibility: visible;
  }

  .boutonInfo__svg {
    display: block;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
}

@media (min-width: 900px) {

  /* Problemes */
  .headerProblemes,
  .headerProblemes__boutons {
    flex-direction: row;
    gap: 20px;
  }

  .headerProblemes {
    justify-content: space-between;
  }

  #formProblemes {
    width: 34%;
  }

  .listeProblemes__Container {
    width: 100%;
  }

  .problemes--flex {
    flex-direction: row;
    gap: 80px;
  }

  .probleme__Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .problemeEtat__container {
    margin-top: 20px;
  }
}

@media (min-width: 1050px) {}